/*
html {
  background: url(bg.png)
}
body {
    border-radius: 10px;
    color: white;
    border: 2px solid #CC0000;
    margin-left: auto;
    margin-right: auto;
    font-family: "Tahoma";
    padding: 20px;
    width: auto;
    height: 150px;
}

.search_form {
    margin-left: auto;
    margin-right: auto;
}*/

html {
  background: url(bg.png)
}
body {
    /*border-radius: 10px;
    color: white;
    border: 2px solid #CC0000;*/
    color: #fff;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font-weight: bold;
    font-size: 1.75em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 563px;
    height: 192px;
}

.search_form {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}
.search_form input[type=text] {
	background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 35px;
    padding: 10px;
    margin: 40px auto 50px;
    overflow: hidden; 
}
