*{
padding : 0;
margin : 0;
border : 0;
}

.results{
display : block;
width : 900px;
overflow : auto;
margin : 100px auto 0 auto;
}
.TPBResults{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 600px;
width : 300px;
}
.NyaaResults{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 600px;
width : 300px;
}
.KATResults{
background-color : rgba(104,20,255,0.4);
float : left;
clear : none;
height : 600px;
width : 300px;
}
