<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search the world!</title>
     <link rel="stylesheet" type="text/css" href="static/css/font.css">

</head>
<body>

    <form action="/search" method="post" class="search_form">
            <center><p>What are you looking for?</p> <br><input size=50 type="text" name="search" list="bar" value="{{request.form.search}}"></center>
    </form>
</body>
</html>