<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style type="text/css" >

        body {
            font-size: 11px;
        }
        .data {

        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
        .kat {
            padding: 60px;
            margin: 200px;
            margin-left: 600px;
            margin-top: -2650px;
        }


    </style>
</head>
<body>
    <div class="data">
        {% block content %}
                {% for i in nyaa_query %}
                Name: {{ i[0] }}, Download: <a href="{{ i[2] }}">{{ i[2] }}<br></a> Size: {{ i[1] }}, Seeders: {{ i[3] }}, Leechers: {{ i[4] }}, Date Added: {{ i[5] }}
                {% endfor %}
        </div>
        <div class="kat">
                {% for i in kat_query %}
                <br>{{ i }}
                {% endfor %}
        </div>
        <div class="tpb">
                {% for item in tpb_query %}
                <br> {{ item }}
                {% endfor %}

        </div>
    {% endblock %}


</body>
</html>